[submodule "Tools/tweet.sh"]
	path = Tools/tweet.sh
	url = https://github.com/ixt/tweet.sh
[submodule "2017/11/23/twemoji"]
	path = 2017/11/23/twemoji
	url = https://github.com/twitter/twemoji
[submodule "Tools/RAKE.sh"]
	path = Tools/RAKE.sh
	url = https://github.com/ixt/RAKE.sh
[submodule "Tools/markov-bash"]
	path = Tools/markov-bash
	url = https://github.com/ixt/markov-bash
[submodule "Tools/word2vec"]
	path = Tools/word2vec
	url = https://github.com/dav/word2vec.git
[submodule "2018/01/20/eschalot"]
	path = 2018/01/20/eschalot
	url = https://github.com/ReclaimYourPrivacy/eschalot/
[submodule "Tools/master"]
	path = Tools/master
	url = https://github.com/bpb27/twitter_scraping
[submodule "Tools/twitter_scraping"]
	path = Tools/twitter_scraping
	url = https://github.com/bpb27/twitter_scraping
