[submodule "Tools/tweet.sh"]
	path = Tools/tweet.sh
	url = https://github.com/piroor/tweet.sh
[submodule "2017/11/23/twemoji"]
	path = 2017/11/23/twemoji
	url = https://github.com/twitter/twemoji
[submodule "Tools/RAKE.sh"]
	path = Tools/RAKE.sh
	url = https://github.com/ixt/RAKE.sh
[submodule "Tools/markov-bash"]
	path = Tools/markov-bash
	url = https://github.com/ixt/markov-bash
